header {

}

body {
    font-family: Arial; 
    color: #0E3837;
    background-color: #F0F0F0;
}

.div-main {
    position: relative;
    justify-content: left;
    overflow-x:hidden;
    text-overflow: clip;
}

.container-template {
    display: grid;
    position: relative;
    justify-content: left;
    width: 100%;
    grid-template-columns: repeat(4, 30%);
    grid-auto-rows: minmax(5%, auto); 
    grid-gap: 1px;
    margin-top: 2px;
    
}

.container-template > :nth-child(odd) {
    align-items:stretch;
    background-color: #F0F0F0;
}

.container-template > :nth-child(even) {
    align-items: stretch;
    background-color: #ADCCC6;
}

.expand-div {
    position: relative;
    background-color:#F0F0F0;
    opacity: 0;
}

.close-div {
    position: relative;
    background-color: #F0F0F0;
    opacity: 1;
}


footer {

}